# Python
venv/
__pycache__/
*.pyc
*.pyo
.Python
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Model files (lớn, không cần track)
*.h5
*.tflite
*.pb

# Data (không push data lên git)
model_train_edge_ai/data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
